body{
    font-family: monospace;
    font-weight: 900;
}

.box{
 
    max-width: 340px;
    width: 100%;
    border: 1px solid black;
    padding: 12px;
    margin: 50px auto;
    border-radius: 5px;
}
input[type=text],input[type=number]{
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin: 5px auto;
    border-radius: 5px;
    border: 1px solid crimson;
    outline: none;
}
input[type=submit]{
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    margin: 5px auto;
    border-radius: 5px;
    border: 1px solid crimson;
    outline: none;
    cursor: pointer;
    background-color: crimson;
    color: white;
    font-family: monospace;
    font-weight: 900;
}
h2{
    text-align: center;
}
.Back{
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 12px 20px;
    display: inline-block;
    margin-top: 5px;
    border-radius: 5px;
}
